version: '3.8'

services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_DATABASE: tutorials_db
    networks:
      - app-network

  backend:
    image: "${DOCKERHUB_USERNAME}/crud-mean-app:backend-latest"
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      - PORT=8080
      - MONGODB_URI=mongodb://mongo:27017/tutorials_db
    networks:
      - app-network

  frontend:
    image: "${DOCKERHUB_USERNAME}/crud-mean-app:frontend-latest"
    restart: unless-stopped
    networks:
      - app-network

  nginx-proxy:
    image: nginx:stable-alpine
    restart: unless-stopped
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf

    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
